<div class="example-container middle" *ngIf="isComponentReady">
  <mat-card class="p-0">
    <mat-card-title class="">
      <div class="card-title-text">Roles</div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <form
        accessibleForm
        [formGroup]="form"
        class="hd-form"
        (ngSubmit)="form.valid && actionSave()"
      >
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
            <div class="form-row">
              <mat-form-field class="full-width">
                <input
                  matInput
                  formControlName="name"
                  placeholder="name"
                  required
                />
                <mat-error *ngIf="form.get('name').hasError('required')"
                  >please enter name</mat-error
                >
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="fill">
                <mat-label>Permission</mat-label>
                <mat-select
                  placeholder="Permission"
                  formControlName="permission"
                  [(value)]="selectedPermission"
                  [compareWith]="compareWith"
                  multiple
                  required
                >
                  <mat-option
                    *ngFor="let permission of dataSourcePermission"
                    [value]="permission"
                  >
                    {{ permission.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <div fxFlex="100" class="mt-1">
            <button
              mat-raised-button
              type="submit"
              animatedButton
              lastName="primary"
            >
              {{ role.id ? "Update" : "Save" }}
            </button>
            <button
              mat-button
              lastName="warn"
              animatedButton
              type="button"
              routerLink="/roles"
            >
              {{ "Cancel" }}
            </button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
