<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button color="white" [routerLink]="['/']" translate>Cleveron</a>
    <button mat-button [routerLink]="['/employees']">Add Employee</button>
    <span class="example-spacer"></span>
    <span></span>
    <button mat-button [routerLink]="['/roles']">Add Roles</button>
    <button mat-button [routerLink]="['/privileges']">Add Privileges</button>
    <button mat-button [routerLink]="['/permissions']">Add Permissions</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
