/* You can add global styles to this file, and also import other style files */
body { margin: 0; }
.background-red {
  background-color: rgb(153, 50, 50);
}
.background-green {
  background-color: rgb(29, 102, 29);
}

.full-width-input {
  width: 100%;
}

.pre-wrap {
  white-space: pre-wrap;
}

.subtitle {
  font-weight: bold;
}

.middle {
  flex: 1 0 100%;
  margin: 0 auto;
  max-width: 960px;
  min-height: 600px;
}

.calculation-table {
  background-color: #ECECE7;
}

.calculation-table td {
  text-align: right;
}

.calculation-table .amount {
  font-weight: bold;
  padding-left: 20px;
}

.example-table-container {
  position: relative;
  max-height: 100%;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button {
  color: green;
}

.hidden {
  display: none;
}

.example-spacer {
  flex: 1 1 auto;
}

.form-row {
  padding: 10px 0;
}
.form-row .form-row-column {
  padding: 5px;
  flex: 1;
}

@media (min-width: 900px) {
  .form-row {
    display: flex;
  }
}

.confirm-button {
  color: green;
}

.reject-button {
  color: red;
}

/*
.mat-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid gray;
}
*/


.img-ul-file-upload * {
  text-transform: none !important;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px !important;
  font-weight: 500;
}

.img-ul-file-upload .img-ul-upload {
  background-color: #3f51b5 !important;
}

.img-ul-file-upload .img-ul-button {

}


.img-ul-file-upload .img-ul-button {
  text-transform: none !important;
}

.img-ul-file-upload .img-ul-button {

}

/*card header manipulations*/
.hd-inner-header {
  font-size: 16px !important;
}

.hd-inner-header .mat-card-header-text {
  margin: 0 0px !important;
}


.hd-inner-header mat-icon {
  padding-right: 5px;
}

